# The following lines require `ours` merge driver
# To define `ours` merge driver, run `git config --global merge.ours.driver 'git merge-file --ours --quiet -L %X -L %S -L %Y --marker-size=%L %A %O %B'`
README.md merge=ours
AGENTS.md merge=ours
Cargo.lock merge=ours

# Rationale for `Cargo.lock merge=ours`:
# - Cargo.lock will be equal between branches
# - New dependencies will be recorded in Cargo.toml, which would trigger a regeneration of Cargo.lock
# - A vulnerability monitoring tool (e.g. Dependabot) will continue flagging vulnerable deps

# The following lines require `hidden` diff driver
# To define `hidden` diff driver, run `git config --global diff.hidden.binary true`
# Note that `diff.external` setting does not respect internal diff drivers
README.md diff=hidden
AGENTS.md diff=hidden
Cargo.lock diff=hidden
